*, *::before, *::after{
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}


.hero{
    background-image: url('./Images/Frame.png');
    background-position: center;
    background-size: cover;
    height: 600px;
}

h3{
    margin-top: 90px;
}

.row1{
    display: flex;
    flex-direction: column;
}

@media(max-width:720px){
    .hero{
        background-image: url('./Images/Frame.png');
        background-position: center;
        background-size: cover cover;
        background-repeat: no-repeat; 
        position: relative;

    }
    .row1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn .btn-sm {
        width: 50%;
    }

    .man{
        width: 80%;
        margin: auto 25px;
    }
    h3,p {
        text-align: center;
        width: 100%;
    }

    .col-sm-12{
        padding: 30px 0;
    }
    .H5, .P5{
        text-align: justify;
        margin: 15px 40px;
        width: 80%;
    }
    .Hf{
        text-align: start;
        margin-left: 40px;
    }
    .card-text{
        text-align: start;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.box{
    width: 20%;
}
