@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after{
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
}

.nav-link{
    color: #000000 !important;
    margin-left: 20px !important;
}

.navbar-brand{
    width: 73px !important;
    height: 32px !important;
    margin: 0 25px 15px 25px !important;
}
.hero{
    background-image: url('./Images/Background.png');
    background-position: center;
    background-size: cover;
}

.heroz{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-content{
width: 399px;
height: 136px;
left: 165px;
top: 272px;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 68px;

color: #000000;
}

.left-para{
    width: 382px;
    height: 76px;
    left: 165px;
    top: 433px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

h3{
    margin-top: 90px;
}
#man-content{
    margin-top: 50px;
}
#man-content#h5{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #000000;
}
#man-content #para1{
    width: 470px;
    height: 76px;
    left: 743px;
    top: 1074px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#man-content #para2{
    width: 470px;
    height: 79px;
    left: 743px;
    top: 1163px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.card-head{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    line-height: 42px;
    padding: 20px 0;
    color: #000000;
}
.card{
    border: none;
}
.card a{
    border: none;
}
.man{
    margin-left: 50px;
}

@media(max-width:720px){
    .row1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bccbtn{
        text-align: center;
        margin: auto 0;
    }
    #man-content #h5, #para1, #para2, a{
        width: 100%;
        text-align: center;
    }
    #man-content #para2{
        font-size: 12px;
    }
    .btn{
        width: 200px;
        height: 60px;
    }

    .btn .btn-primary{
        text-align: center;
        margin-top: 20px;
    }

    .man{
      width: 60%;
      margin-left: 20px;  
    }
    .left-content{
        font-size: 45px;
        padding-right: 50px;
    }
    #man-content{
      margin-left: 50px;  
    }
    h3,p {
        text-align: center;
        width: 100%;
    }

    .col-sm-12{
        padding: 30px 0;
    }
    .H5, .P5{
        text-align: justify;
        margin: 15px 40px;
        width: 80%;
    }
    .Hf{
        text-align: start;
        margin-left: 40px;
    }
    .card-text{
        text-align: start;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.box{
    width: 20%;
}
